* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: fixed;
  color: #fff;
  background-image: url(https://s-i.huffpost.com/gen/1293448/images/n-TRAYVON-MARTIN-MURAL-628x314.jpg);

  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Bungee Inline', cursive;
}

header {
  width: 100%;
  font-family: 'Bungee Inline', cursive;
  font-size: 70px;
  color: black;
  z-index: 1;
  text-align: center;
}

h1 {
  display: inline-block;
}

div > * {
  vertical-align:middle;
}

.wrapper {
  margin-top: 40px;
  position: relative;
  text-align: center;
  font-size: 28px;
  overflow : auto;
  height: 100%;
}

.hangman {
  position: relative;
  display: block;
  width: 49%;
  margin: 0 auto;
  float: right;
}

.hangman > img {
  position: absolute;
  max-height: 400px;
  top: 0;
  left: 0;
}

.info {
  position: relative;
  display: block;
  width: 49%;
line-height: 2em;
  float: left;
}

.answer {
  position: absolute;
  top: 0;
  right: 0;
}

.red {
  color: red;
}

.gold {
  color: gold;
}

.brown {
  color:brown;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.pink {
  color: pink;
}

.purple > h1, .purple> h1 {
  display: block;
}

.media-input {
  margin-bottom: 5vh;
}

.media-input > * {
  display: inline;
}

button {
  background: gold;
  border: 2px solid purple;
  border-radius: 5%;
  padding: 5px;
  font-size: 24px;
  font-family: "san-serif";
}

.letters {
  margin: 0 20px;
  font-size: 36px;
}

.guessLetter {
  margin-left: 40px;
}

@media screen and (max-width: 780px) and (orientation: portrait) {
  header {
      font-size: 50px;
  }
  .wrapper {
      margin-top: 20px;
      font-size: 22px;
  }
  .hangman {
      margin: 0;
  }
  .hangman > img, .character > img {
      max-height: 200px;
  }
  .info {
      line-height: 1.5em;
  }
  .moveRight {
      right: -20vw;
      z-index: 1;
  }
}
